@using Microsoft.AspNetCore.Identity
@using ADUserManagement.Models

<ul class="navbar-nav">
    @if (User.Identity.IsAuthenticated)
    {
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-dark" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown">
                <i class="bi bi-person-circle"></i> @User.Identity.Name
            </a>
            <ul class="dropdown-menu dropdown-menu-end">
                <li>
                    <span class="dropdown-item-text">
                        <strong>@User.Identity.Name</strong>
                        <br />
                        <small class="text-muted">
                            @if (User.IsInRole("SysNet"))
                            {
                                <span class="badge bg-danger">SysNet</span>
                            }
                            @if (User.IsInRole("HelpDesk"))
                            {
                                <span class="badge bg-primary">HelpDesk</span>
                            }
                        </small>
                    </span>
                </li>
                <li><hr class="dropdown-divider"></li>
                <li>
                    <form class="form-inline" asp-controller="Account" asp-action="Logout" method="post">
                        @Html.AntiForgeryToken()
                        <button type="submit" class="dropdown-item">
                            <i class="bi bi-box-arrow-right"></i> Çıkış Yap
                        </button>
                    </form>
                </li>
            </ul>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Account" asp-action="Login">
                <i class="bi bi-box-arrow-in-right"></i> Giriş Yap
            </a>
        </li>
    }
</ul>